:root {
  --bg-main: #1A365D;
  --color-main: #fff;
  --border-radius: 15px;
}

body {
  position: relative;
  background-color: var(--bg-main);
  background-image: url(bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  color: var(--color-main);
  margin: 50px 0;
}

main h2 {
  font-size: 60px;
}
main p {
  margin-top: 15px;
  font-size: 24px;
}

.markup__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}
.markup__img {
  max-width: 100%;
  width: 650px;
}
.markup__block-input {
  margin-top: 50px;
  border-radius: var(--border-radius);
  height: 48px;
}
.markup__block-button {
  margin-top: 15px;
  border-radius: var(--border-radius);
  max-width: 270px;
  height: 48px;
  text-align: left;
}
.markup__block-button::after {
  content: ">";
  margin-left: 5px;
}
.markup__block--left {
  display: flex;
  flex-direction: column;
  justify-content: center;
}/*# sourceMappingURL=style.css.map */